<!DOCTYPE html>
<html>
	<body>
		<form method="POST" action="/save">
			<label for="item"> What is the name of your item?</label>
			<input type="text" name = "item" />
			</br>

			<label for="amount"> Amount</label>
			<select name="type">
				<option value="10">Coke</option>
				<option value="20">Cheetos</option>
				<option value="30">Noodles</option>
				<option value="40">Pajamas</option>
				
			</select>
		</br>
		<input type="Submit" value="here they are"/>
		</form>
	</body>
</html> 
